.popup{
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    visibility: hidden;
}
.active{
    visibility: visible;
}
.popup__content{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
    min-height: 140px;
    min-width: 250px;
    background-color: rgba(255, 255, 255); 
    width: 50%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border:gray solid 2px;
    color: rgb(255, 125, 19);
}
.popUp-link{
    text-decoration: none;
    color: gray;
}
.popUp-link:hover{
    cursor: pointer;
    color:rgb(255, 125, 19);
}